body{
    margin: 0px;
    background-color: rgb(34, 13, 73);
    position:relative;
}
html {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #444;
}
.sidebar{
        position: absolute;
        height:95%;
        width:10%;
        top:2.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        color:white;
    
        
        .mid{
            display:flex;
            flex-direction: column;
            i{
                color:white;
                margin:30px;
                cursor:pointer
            }
        }
        .top{
            i{
                color:white;
                margin: 30px;
                cursor:pointer
            }

        }
        .bottom{
            i{
                color:white;
                margin: 30px;
                cursor:pointer;
            }

        }
    }

.content{
    height:95%;
    width:89%;
    background-color:rgb(221, 234, 243);
    position:absolute;
    left:10%;
    top:2.5%;
    right:2.5%;
    border-radius: 50px;

    .navbar{
        margin:30px 0 10px 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .search-bar{
            position:relative;
            border: none;

        input{
            
            margin:12px 15px 0 25px;
            display:flex;
            width:300px;
            height:30px;
            border-radius: 10px;
            padding: 0 20px 0 30px;
            
        }
        .search{
            position:absolute;
            top:45%;
            left:9%;
            cursor:pointer;

        }
    }
}

    .greetings{
        height:15%;
        width:70%;
        background-color: rgb(34, 13, 73);
        z-index: 2;
        margin:0 10px 10px 30px;
        border-radius:20px;
        color:white;
        p{
            color:white;
            padding: 20px 20px 0 20px;
            //margin:20px;
        }
        h2{
            margin:20px;
        }
    }
    .activities{
        height:35%;
        width:70%;
        margin:0 10px 10px 30px;
        background-color: white;
        border-radius: 20px;
        h4{
            padding:20 20 0 20;
        }
    }


    .tasks{
        width:70%;
        margin:0 10px 10px 30px;
        h4{
            margin:0 10px 0 15;
        }
        .heading{
            display:flex;
            padding:0;
            margin:5 10 10 15;
            justify-content: space-between;
            li{
            list-style-type:none;
            text-decoration:none;
        
            }
            
        }
        .cards{
            height:5%;
            background-color: white;
            width:100%;
            border-radius: 10px;
            margin:0 0 10px 0;
        }
    }
}